.caixa{
background-color: purple;
width: 400px;
height: 1020px;
border: 15px solid black;
border-radius: 20px;
padding: 15px;
margin: 30px;
text-align: center;
color:yellow;
text-decoration-color: black;
}
.kira{
    position: absolute;
    left:600px ;
z-index: 2;
top: 40px ;
border: 15px solid black;
}
.fundo{
    top: 1;
   z-index: -1;
 
}
